<div id="cookie-notice">
    <span>This website is requesting your consent to the use of cookies. <a href='{{ "/cookie-policy/" | absolute_url }}'>Learn more</a>.</span>
    <a id="cookie-notice-accept" class="button">I agree</a>
</div>

<script>
    var cookiesAllowed = false;
    function createCookie(name,value,days) {
        var expires = "";
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days*24*60*60*1000));
            expires = "; expires=" + date.toUTCString();
        }
        document.cookie = name + "=" + value + expires + "; path=/";
    }
    function readCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for(var i=0;i < ca.length;i++) {
            var c = ca[i];
            while (c.charAt(0)==' ') c = c.substring(1,c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
        }
        return null;
    }
    function eraseCookie(name) {
        createCookie(name,"",-1);
    }

    if(readCookie('cookie-consent')=='true') {
        cookiesAllowed = true;
    } else {
        $('#cookie-notice').show();
    }
    $('#cookie-notice-accept').click(function() {
        createCookie('cookie-consent','true',31);
        $('#cookie-notice').hide();
        location.reload();
    });

</script>
